<h3>
    Informations de base
</h3>
<div class="col-lg-9 g-mb-50">
    <!-- Info -->
    <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

        <div class="row">
            <div class="col-12">
                        <span class="d-block">
                            Surface totale :
                            <b>
                                {{ information.surfaceTotale|number_format(2, ',', ' ') }}m²
                            </b>
                        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                        <span class="d-block">
                            Nombre de pièces :
                            <b>
                                {{ information.nbPieces }}
                            </b>
                        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                        <span class="d-block">
                            Présence de comble :
                            <b>
                                {% if information.comble==true %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </b>
                        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                        <span class="d-block">
                            Présence d'un sous-sol :
                            <b>
                                {% if information.sousSol==true %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </b>
                        </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="d-block">Type d'assainissement :
                    <b>
                        {{ information.assainissement.nom }}
                    </b>
                </span>
            </div>
        </div>
    </div>
    <!-- End Info -->
</div>