#block_champs_form{
    width: auto;
    flex: auto !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    font-weight: bold;
    color: white;
}

body{
     background-image: url("../img/maison.jpg");
     background-position: right;
     background-size: cover;
 }

form{
    text-align: -webkit-center;
    margin-left: 25%;
    margin-right: 25%;
}

.form-control{
    width:50% !important;
}


@media screen and (max-width: 1100px){
    #block_boutons_cancel_save{
        display:block !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

    }
}
