#block_droits_reserves{
    margin-left: 387px !important;
    padding: 5px;
}
#footer{
    width: 100%;
    bottom: 0;
    padding: 0 !important;
    height: 5%;
    background-color: rgba(202, 202, 202, 0.5);
}

#block_logo_site{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 3;
    text-align:center;
    border-bottom-color: #e5e5e5;
    border-bottom-width: 1px;
    border-bottom-style: ridge;
}

#block_logo_crm{
    text-align:center;
    padding-top: 75px;
}

#logo_crm_enregistrement{
    width: 252px;
}

#logo_crm{
    width: 202px;
}

#logo_facturation{
    width: 207px;
}

#logo_facturation:hover, #logo_crm:hover{
    border-radius: 123px;
    border: solid orange;
}

.alert{
    width: 26%;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 37%;
    border-radius: 9px !important;
}

html{
    height:100%;
}

/*#logo_oit:hover{
    background-color: royalblue;
border-radius: 8px;
}*/

#block_bouton_accueil{
    font-size: 32px;
    padding-top: 13px;
    margin-left: 33px;
    color: rgb(26, 65, 129)!important;
}

#block_bouton_accueil a {
    color:rgb(26, 65, 129);
    text-decoration: none;
}

#block_bouton_accueil a:hover{
    color:red;
}

.test{
    padding-top: 122px !important;
}

.titre_systeme{
    font-size: 32px;
    padding-top: 15px !important;
    color:#33659c;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.block_non_connecte{
    width: auto;
    flex: auto !important;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    font-weight: bold;
    color: white;
    text-align: center;
}

body{
    background-image: url("../img/maison.jpg");
    background-position: right;
    background-size: cover;
}

@media screen and (max-width: 350px) {
    .titre_systeme {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 260px) {
    .titre_systeme {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 220px) {
    .titre_systeme {
        font-size: 17px !important;
    }
}