#block_autres_infos .form-group {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.titres_profile{
    font-size: 1.5rem !important;
    text-align: center;
    background-color: dodgerblue;
    color: white !important;
    border-radius: 13px;
    margin-bottom: 47px !important;
    width: 100%;
}

#cadre_contenu_profile {

    background-color: aliceblue;
}

#cadre_contenu_profile .row, .col-12{
    margin-bottom: 20px;
}

.block_tache{
    background-color: rgba(195, 195, 195, 0.65);
    border-radius: 6px;
}

#icone_profile_compte{
    width: 80%;
}

#rep_type{
    width: 153px;
    color: #53585e !important;
    background-color: #99b3ce !important;
    margin-left: 20px;
}

#block_boutons_modif_suppr{
    text-align: center;
    display: flex;
}

#block_boutons_modif_suppr_user{
    margin-top: 5px;
    display: flex;
    margin-left: 22%;
}


#block_navigation_profil{
    margin-top:14px;
}

#bouton_suppr{
    background-color: #ce5656;
}
#bouton_modif{
    background-color: #1fe41cd4 !important;
}

#block_bouton_modif{
    text-align: center;
    width:100%;
}

.progress {
    width: 20%;
    margin-bottom: 4px !important;
    margin-top: 8px;
    margin-left: 10px;
}

.titre_temperature{
    width : 20%;
    margin-left:165px;
}

.blocks_temperature_type{
    margin-bottom: 0 !important;
}

.block_temperature{
    display: flex;
}

.block_type{
    display: flex !important;
}

#block_icone_profil{
    margin-bottom: 5px !important;
}

#block_nav_taches{
    display: flex;
}

#bouton_ajout_tache{
    padding: 5px;
    padding-top: 3px;
    width: 28px !important;
    height: 26px !important;
    margin-left: 115px !important;
    margin-top: 16px;
}

#bouton_ajout_responsable{
    width: 92px!important;
    margin: 0;
    margin-left: 12px !important;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 4px;
    font-size: 16px !important;
    font-weight: bolder;
}

.icone_suppr_profil{
    top: -17px;
    /* padding-top: 6px; */
    /* padding-right: 1px; */
    /* color: white; */
    background-color: #ce5556 !important;
}

.icone_suppr_tache{
    top: 0;
    background-color: #ce5556 !important;
    position: relative;
    margin-top: 12px;
    width: 24px !important;
    height: 23px;
    right: 17px !important;
}

.contenu_tache{
    display:none;
}

.icones_show_tache{
    color: white;
    font-size: 31px;
    position: relative;
    bottom: 4px;
    right: 18px;
}

.block_categ_resp{
    display: flex;
    height: 72px !important;
    border-bottom: solid #bdbdbd;
    border-width: 1px;
}

.block_categ_resp .row {
    margin-left: 12px;
    margin-top:17px;

}

#description_tache{
    margin-left: 12px;
    margin-bottom:0 !important;
}
#date_creation_tache{
    width: 38%;
    margin-left: 62%;
    margin-bottom: 0 !important;
    height:20px !important;
}
#contenu_form_profil_user{
    width:75%;
}

p{
    overflow-wrap:break-word;
}

.bouton_enregistrer{
    background-color: orangered;
}


.bouton_annuler{
    background-color:grey;
}

#block_bouton_enregistrer{
    text-align: center;
}

#block_boutons_cancel_save{
    display:flex;
    margin-left: 25%;
    margin-right: 28%;
}

.block_livraison{
    width:100%;
    margin-bottom: 20px;
}
#titre_livraison{
    margin-bottom: 5px!important;
}

#block_bouton_ajout{
    width: 100%;
    margin-left: 70%;
    margin-bottom: 10px;
}

#block_element1_tache, #block_element2_tache{
    width:33%;
}

#block_element3_tache{
    width: 33%;
}

#block_element4_tache{
    width: 33%;
}
#bouton_ajout_tache{
    margin-left: 62px !important;
}

.nb-taches-contact{
    left: 108px;
    right: 0px !important;
}

