body{
    background-image: url("../img/maison.jpg");
    background-position: right;
    background-size: cover;
}

.form-control{
    width:80% !important;
}

#block_reset_mdp{
    text-align: -webkit-center;
    margin-left: 25%;
    margin-right: 25%;
}

form{
    text-align: -webkit-center;
}