#block_message{
    text-align: center;
    width: 371px;
    margin-left: 38%;
    margin-top: 79px;
    border: solid #2de200;
    padding: 17px;
    border-radius: 15px;
    background-color: rgba(87, 234, 85, 0.59);
}

