{% extends "@HomeConstructFo/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Confirmation d'inscription
{% endblock %}

{% block content %}
    <div class="container g-pt-35 g-pb-30">
        <div class="row justify-content-center">
            <div class="col-sm-7 col-md-6 col-lg-4 text-center g-mb-70">
                <h2 class="h4 mb-4">Confirmation d'inscription</h2>
                <p>{{ 'registration.check_email'|trans({'%email%': user.email})|raw }}</p>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock content %}