{% extends "@HomeConstructFo/layout.html.twig" %}
{% use "@SymracineTemplate/Multipage/RealEstate/accueil.html.twig" %}

{% block content %}
    <!-- About Us -->
    <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-pt-100 g-pb-70"
         style="background-image: url({{ asset('bundles/symbasetemplate/multipage/realestate/img/bg/map-sketch.jpg') }});">
        <div class="g-pos-rel g-z-index-1">
            <!-- Heading -->
            <div class="g-max-width-750 text-center mx-auto g-mb-100">
                <h2 class="mb-4">Notre objectif - votre satisfaction</h2>
                <p class="g-font-size-16 g-line-height-2">Vos réparations une prioritée</p>
            </div>
            <!-- End Heading -->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-3 g-mb-30">
                        <!-- Product - Services -->
                        <div class="text-center">
                  <span class="u-icon-v3 u-icon-size--xl g-color-white g-bg-primary rounded-circle mb-4">
                    <i class="icon-real-estate-001 u-line-icon-pro"></i>
                  </span>

                            <h3 class="h5 text-uppercase">Nous trouvons le meilleur</h3>
                            <p>options seulement selon vos préférences</p>
                        </div>
                        <!-- End Product - Services -->
                    </div>

                    <div class="col-md-3 g-mb-30">
                        <!-- Product - Services -->
                        <div class="text-center">
                  <span class="u-icon-v3 u-icon-size--xl g-color-white g-bg-primary rounded-circle mb-4">
                    <i class="icon-real-estate-013 u-line-icon-pro"></i>
                  </span>

                            <h3 class="h5 text-uppercase">Nous vérifions</h3>
                            <p>Nos garages partenaires</p>
                        </div>
                        <!-- End Product - Services -->
                    </div>

                    <div class="col-md-3 g-mb-30">
                        <!-- Product - Services -->
                        <div class="text-center">
                  <span class="u-icon-v3 u-icon-size--xl g-color-white g-bg-primary rounded-circle mb-4">
                    <i class="icon-christmas-037 u-line-icon-pro"></i>
                  </span>

                            <h3 class="h5 text-uppercase">Bonus</h3>
                            <p>XXX</p>
                        </div>
                        <!-- End Product - Services -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Us -->
{% endblock content %}