{% extends "@HomeConstructFo/layout.html.twig" %}

{% block content %}
    <div class="container g-py-25">
        <header class="text-center g-mb-50">
            <h1 class="h2">Protection des données personnelles</h1>
            <p class="lead">- TEST -</p>
        </header>

        <div class="text-center mx-auto g-width-70x--md">
            blablabla.
        </div>
    </div>
{% endblock %}